/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url("/assets/img/fondCasino.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
    height: 100vh;            
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content:end;
    align-items: center;
    height:10vh;
}
.recBlanc {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: white;
    height: 10vh;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    border-radius: 5px;
    transition: ease background-color 0.4s;
}

.recBlanc:hover {
    background-color: #c4c4c4;
}

a {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    padding: 10px;
}

.subTitle {
    max-width: 80%;
    max-height: 80%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #C8102E;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.probleme {
    position: absolute;
    right:5px;
    bottom: 17.5px;
    color: white;
    text-decoration:underline;
    font-size: small;
}

.profil-container {
    font-size: 26px;
    max-width: 1000px;
    min-width: 600px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-spacing: 20px;
}

.profil-details,
.profil-stats {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Optionnel, pour un léger contraste */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.profil-stats {
    margin-top: 20px;
}


.profil-stats ul {
    list-style-type: none;
    padding: 0;
}

.profil-stats ul li {
    margin: 5px 0;
    text-align: -moz-center;
}

h1 {
    margin-top: 0px;
}

.balance {
    color:#10c863;
    border: 2px dashed #006d31;
    width: fit-content;
    font-size: larger;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}