body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start; /* Changer de center à flex-start */
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f6f5f7;
    padding-left: 20%; /* Décalage de 20% à gauche, ce qui laisse 60% de l'écran vide à gauche */
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover; /* Garantit que l'image couvre toute la carte */
    background-position: center; /* Centrer l'image */
}

.flip-card-front {
    background-image: url("./assets/img/carteFace.png");
}

.flip-card-back {
    background-image: url("./assets/img/carteDos.png");
    transform: rotateY(180deg) ;
}

.flip-card.flipped .flip-card-inner {
    transform: translateX(-250px) rotateY(180deg);
}

h2 {
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 15px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 20px;
    padding: 15px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background: #ff4b2b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #ff6f61;
}

#openSignUp, #openSignIn {
    background: none;
    color: #ff4b2b;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
