body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("./assets/img/fondCasino.jpg") no-repeat center center fixed;
    background-size: cover;
}

.title {
    position: absolute;
    top: 0;
    width: 60%;
}

.subTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    padding: 5px;
    margin: 15px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    position: relative; /* Change from absolute to relative */
    margin: auto; /* Center the card */
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    position: relative; /* Ensure it's positioned relative to flip-card */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.flip-card-front {
    background-image: url("./assets/img/carteFace.png");
    background-color: #ffffff;
    transform: translateX(-20px);
}

.flip-card-back {
    background-image: url("./assets/img/carteDos-removebg-preview4.png");
    background-color: #ffffff;
    transform: rotateY(180deg) translateX(20px);
    background-size: calc(100% - 30px) calc(100% - 30px);
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

h2 {
    position: absolute;
    top: -10px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group__label {
    display: block;
    position: absolute;
    top: 0;
    line-height: 30px;
    color: #aaa;
    left: 5px;
    padding: 0 5px;
    transition: line-height 200ms ease-in-out, font-size 200ms ease-in-out, top 200ms ease-in-out;
    pointer-events: none;
}

.input-group__input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 10px;
}

.input-group__input:not(:placeholder-shown) + label, .input-group__input:focus + label {
    background-color: white;
    line-height: 12px;
    opacity: 1;
    font-size: 12px;
    top: -5px;
    border-radius: 5px;
}

.input-group__input:focus {
    outline: none;
    border: 1px solid #C8102E;
}

.input-group__input:focus + label {
    color: black;
}

button {
    margin-top: 20px;
    padding: 15px;
    width: 80%;
    border: none;
    border-radius: 5px;
    background: #C8102E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #c64e62;
}

#openSignUp, #openSignIn {
    background-color: white;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#openSignUp:hover, #openSignIn:hover {
    background-color: #000000;
    color: white;
}
